certifi==2024.7.4
charset-normalizer==3.3.2
fpdf==1.7.2
gitdb==4.0.11
GitPython==3.1.41
idna==3.7
numpy==2.0.1
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
setuptools==69.0.3
six==1.16.0
smmap==5.0.1
tzdata==2024.1
urllib3==2.2.2
wheel==0.43.0
